.wrapper {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  background-color: #2a2b2a;
}

.phone-container {
  display: none;
}

.text-container {
  justify-items: center;
  color: white;
  flex: 30%;
  align-self: center;
  padding: 30px 0 30px 0;
}
.text-container h1,
p,
a {
  color: white;
}

.button {
  margin-top: 50px;
  align-items: center;
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: 2px solid #f9faf6;
  cursor: pointer;
  color: #f9faf6;
  background-color: #2a2b2a;
  font-size: 1.6rem;
  width: fit-content;
}

.button:hover {
  padding: 8px 20px;
  transition: all 0.3s ease-out;
  background: black;
  transition: 250ms;
}
.container {
  height: 90vh;
  flex: 70%;
}
