* {
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Exo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}
/* body {
  background-color: #f9faf6;
} */
a {
  color: white;
}

ul {
  list-style-type: none;
}
